<!DOCTYPE html>

<head>
	<title>Image Server</title>
</head>

<script>
	//function for loading file
	function loadFile(event) {
		var preview = document.getElementById("preview");
		var uploadimage = document.getElementById("imageupload"); 
		var filename = document.getElementById("filename");
		filename.value = event.target.files[0].name;
		preview.style.width = '30%';
		preview.src = URL.createObjectURL(event.target.files[0]);
		preview.hidden = false;
	}

	function resetPreview() {
		preview.hidden = true;
	}
</script>

<style>
	* {
		font-family:  Courier;
	}
	h1 {
		font-size:  3em;
	}
	h2 {
		font-size: 2.5em;
	}
	input {
		font-size: 2em;
	}

</style>

<body>
	<h1>Image Server</h1>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<h2>Upload an Image:</h2> 
		<input type="file" accept='image/*' name="upload" id="imageupload" onchange="loadFile(event)"/>
		<input type="hidden" name="filename" id="filename"/>
		<br>
		<br>
		<img hidden id="preview">
		<br>
		<br>
		<input type="submit" value="Upload Image" />
		<input type="reset" onclick="resetPreview()"/>
	</form>
	<br>
	
</body>


</html>
